<!-- Footer -->
<hr>
<div class="container">
    <div class="row text-center">
        <div class="col-md-4 ">
            <ul class="footer-link">
                <li>تابعنا</li>
                <li><a href="https://twitter.com/Samples103"><img src="/image/twitter.png" alt="twitter account"
                            width="60" height="60"></a>
                    <a href="https://instagram.com/samples10"><img src="/image/instagram.png" alt="instagram account"
                            width="60" height="60"></a>
                    <a href="https://www.youtube.com/channel/UC8c4Odg5gLyuU_V4y6y6ExQ/videos"><img
                            src="/image/youtube.png" alt="Youtube account" width="60" height="60"> </a>
                </li>
            </ul>
        </div>
        <div class="col-md-4 ">
            <ul class="footer-link">
                <li><a href="/FAQ">اسئلة متكررة </a> </li>
                <li><a href="/app">التطبيق</a></li>
                <li><a href="/termsAndCondition">الشروط والأحكام</a></li>
            </ul>
        </div>
        <div class="col-md-4">
            <ul class="footer-link">
                <li><a href="/about">من نحن</a></li>
                <li><a href="https://blog.samples10.com">المدونة</a></li>
                <li><a href="/message">راسلنا</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <p>Copyright © 2021 Samples, Inc.</p>
        </div>
        <div class="col-md-12 text-center">
            <a href="https://maroof.sa/51232">
                <img src="/image/maroof.png" style="max-width: 11%; height: auto;">
            </a>
            <img src="/image/mada.png" style="max-width: 11%; height: auto;">
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
        </script>