<!-- Footer -->
<hr>
<div class="container">
    <div class="row text-center">
        <div class="col-md-4 ">
            <ul class="footer-link">
                <li>تابعنا</li>
                <li><a href="https://twitter.com/Samples103"><img src="/image/twitter.svg" alt="twitter account"
                            width="50" height="50"></a>

                    <a href="https://instagram.com/samples10"><img src="/image/instagram.svg" alt="instagram account"
                            width="50" height="50"></a>
                    <a href="https://www.youtube.com/channel/UC8c4Odg5gLyuU_V4y6y6ExQ/videos"><img
                            src="/image/youtube.svg" alt="Youtube account" width="50" height="50"> </a>
                </li>
            </ul>
        </div>
        <div class="col-md-4 ">
            <ul class="footer-link">
                <li><a href="/FAQ">اسئلة متكررة </a> </li>
                <li><a href="/testominalPage">حائط الناجحين</a></li>
                <li><a href="/termsAndCondition">الشروط والأحكام</a></li>
            </ul>
        </div>
        <div class="col-md-4">
            <ul class="footer-link">
                <li><a href="/about">من نحن</a></li>
                <li><a href="/message">راسلنا</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <p>Copyright © 2023 Samples, Inc.</p>
        </div>
        <div class="row">
            <div class="col text-center">
                <img src="/image/mada.svg" height="75" width="75">
                <img src="/image/ApplePayMark.svg" height="75" width="75">


            </div>

        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
        </script>