<!DOCTYPE html>
<html lang="en">

<head>

    <link rel="icon" href="/image/circleLogo.svg">
    <%- include ('../partails/head.ejs') %>
        <link rel="stylesheet" type="text/css" href="../stylesheets/courseDetailes.css">
        <title> دورة ستيب | سامبلز </title>
        <meta name="description" content="
        عندك اختبار ستيب و مو عارف من وين تبدأ؟ دورة اختبار ستيب: الخطة التفصيلية لتحقيق درجة عالية راح تمشي معك خطوة بخطوة
        لتعرف بشكل أكثر على الاختبار و تزويدك بالمهارات و الإستراتيجيات لتحقيق الدرجة الي تطمح لها ">
        <!-- Structure data course Google -->

        <script type="application/ld+json">
            {
                "@context": "https://schema.org",
                "@type": "Course",
                "name": "دورة ستيب: الخطة التفصيلية لتحقيق درجة عالية",
                "description": "الدورة التدريبية راح تمشي معك خطوة بخطوة لتتعرف بشكل أكبر على الاختبار و تزويدك بالمهارات و الإستراتيجيات لتحقيق الدرجة الي تطمح لها ",
                "provider": {
                    "@type": "Person",
                    "name": "سامبلز"
                  }
            }
        </script>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.theme.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.transitions.css">


</head>

<body>
    <%- include ('../partails/subHeader.ejs') %>


        <div class="p-5  bg-body-tertiary" dir="rtl">
            <div class="container py-5 text-end">
                <h4 class="text-body-emphasis">دورة اختبار ستيب </h4>
                <h2>الخطة التفصيلية لتحقيق درجة عالية</h2>
                <a href="#testimonial-slider">
                    615 مشترك
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                        class="bi bi-hand-thumbs-up-fill" viewBox="0 0 16 16">
                        <path
                            d="M6.956 1.745C7.021.81 7.908.087 8.864.325l.261.066c.463.116.874.456 1.012.965.22.816.533 2.511.062 4.51a9.84 9.84 0 0 1 .443-.051c.713-.065 1.669-.072 2.516.21.518.173.994.681 1.2 1.273.184.532.16 1.162-.234 1.733.058.119.103.242.138.363.077.27.113.567.113.856 0 .289-.036.586-.113.856-.039.135-.09.273-.16.404.169.387.107.819-.003 1.148a3.163 3.163 0 0 1-.488.901c.054.152.076.312.076.465 0 .305-.089.625-.253.912C13.1 15.522 12.437 16 11.5 16H8c-.605 0-1.07-.081-1.466-.218a4.82 4.82 0 0 1-.97-.484l-.048-.03c-.504-.307-.999-.609-2.068-.722C2.682 14.464 2 13.846 2 13V9c0-.85.685-1.432 1.357-1.615.849-.232 1.574-.787 2.132-1.41.56-.627.914-1.28 1.039-1.639.199-.575.356-1.539.428-2.59z" />
                    </svg>
                </a>


            </div>
        </div>
        <div class="container py-5 text-end">
            <h4>عن الدورة التدريبية</h4>
            <div class="row" dir="rtl">
                <div class="col-lg-6">
                    <p>عندك اختبار ستيب و مو عارف من وين تبدأ؟<br>
                        دورة اختبار ستيب: الخطة التفصيلية لتحقيق درجة عالية راح تمشي معك خطوة بخطوة
                        لتعرف بشكل أكثر على الاختبار و تزويدك بالمهارات و الإستراتيجيات لتحقيق الدرجة الي تطمح لها
                    </p>
                </div>

            </div>
        </div>
        <div class="container py-2 text-end">
            <h4>ماذا ستتعلم</h4>
            <div class="row" dir="rtl">
                <div class="col-lg-7">
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-check2-square" viewBox="0 0 16 16">
                            <path
                                d="M3 14.5A1.5 1.5 0 0 1 1.5 13V3A1.5 1.5 0 0 1 3 1.5h8a.5.5 0 0 1 0 1H3a.5.5 0 0 0-.5.5v10a.5.5 0 0 0 .5.5h10a.5.5 0 0 0 .5-.5V8a.5.5 0 0 1 1 0v5a1.5 1.5 0 0 1-1.5 1.5H3z" />
                            <path
                                d="m8.354 10.354 7-7a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0z" />
                        </svg>
                        معرفة الاختبار بشكل كامل و المهارات التي يقيسها
                    </div>
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-check2-square" viewBox="0 0 16 16">
                            <path
                                d="M3 14.5A1.5 1.5 0 0 1 1.5 13V3A1.5 1.5 0 0 1 3 1.5h8a.5.5 0 0 1 0 1H3a.5.5 0 0 0-.5.5v10a.5.5 0 0 0 .5.5h10a.5.5 0 0 0 .5-.5V8a.5.5 0 0 1 1 0v5a1.5 1.5 0 0 1-1.5 1.5H3z" />
                            <path
                                d="m8.354 10.354 7-7a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0z" />
                        </svg>
                        أهم 70 مفردة في قسم الأستماع و 3 إستراتيجيات لأستخراج الحل

                    </div>
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-check2-square" viewBox="0 0 16 16">
                            <path
                                d="M3 14.5A1.5 1.5 0 0 1 1.5 13V3A1.5 1.5 0 0 1 3 1.5h8a.5.5 0 0 1 0 1H3a.5.5 0 0 0-.5.5v10a.5.5 0 0 0 .5.5h10a.5.5 0 0 0 .5-.5V8a.5.5 0 0 1 1 0v5a1.5 1.5 0 0 1-1.5 1.5H3z" />
                            <path
                                d="m8.354 10.354 7-7a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0z" />
                        </svg>
                        شرح شامل ل 30 قاعدة من الأزمنة ، الضمائر ، جمل الشرطية، والمبني للمجهول و غيرها
                    </div>
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-check2-square" viewBox="0 0 16 16">
                            <path
                                d="M3 14.5A1.5 1.5 0 0 1 1.5 13V3A1.5 1.5 0 0 1 3 1.5h8a.5.5 0 0 1 0 1H3a.5.5 0 0 0-.5.5v10a.5.5 0 0 0 .5.5h10a.5.5 0 0 0 .5-.5V8a.5.5 0 0 1 1 0v5a1.5 1.5 0 0 1-1.5 1.5H3z" />
                            <path
                                d="m8.354 10.354 7-7a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0z" />
                        </svg>
                        ربط الجمل و ترتيبها، علامات الترقيم و إستخراج الخطأ من الجملة
                    </div>
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-check2-square" viewBox="0 0 16 16">
                            <path
                                d="M3 14.5A1.5 1.5 0 0 1 1.5 13V3A1.5 1.5 0 0 1 3 1.5h8a.5.5 0 0 1 0 1H3a.5.5 0 0 0-.5.5v10a.5.5 0 0 0 .5.5h10a.5.5 0 0 0 .5-.5V8a.5.5 0 0 1 1 0v5a1.5 1.5 0 0 1-1.5 1.5H3z" />
                            <path
                                d="m8.354 10.354 7-7a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0z" />
                        </svg>
                        4 إستراتيجيات في قسم القراءة لاإيجاد تفاصيل النص، مرجع الضمير، و رأي كاتب النص
                    </div>
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-check2-square" viewBox="0 0 16 16">
                            <path
                                d="M3 14.5A1.5 1.5 0 0 1 1.5 13V3A1.5 1.5 0 0 1 3 1.5h8a.5.5 0 0 1 0 1H3a.5.5 0 0 0-.5.5v10a.5.5 0 0 0 .5.5h10a.5.5 0 0 0 .5-.5V8a.5.5 0 0 1 1 0v5a1.5 1.5 0 0 1-1.5 1.5H3z" />
                            <path
                                d="m8.354 10.354 7-7a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0z" />
                        </svg>
                        + 70 تمرين و تطبيق لترسيخ المعلومة إلى جانب خمس اختبارات تجريبية لتدرب بشكل مكثف
                    </div>

                </div>

            </div>
        </div>
        <div class="container py-5">
            <div class="row" dir="rtl">
                <div class="col-lg-4 py-4">
                    <div
                        class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                            class="bi bi-phone" viewBox="0 0 16 16">
                            <path
                                d="M11 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h6zM5 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H5z" />
                            <path d="M8 14a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
                        </svg>

                    </div>
                    <h4 class="text-body-emphasis">100% عبر الإنترنت</h4>

                </div>
                <div class="col-lg-4 py-4">
                    <div
                        class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                            class="bi bi-reception-2" viewBox="0 0 16 16">
                            <path
                                d="M0 11.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-2zm4-3a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5v5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-5zm4 5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5zm4 0a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5z" />
                        </svg>


                    </div>
                    <h4 class="text-body-emphasis">مناسب للمبتدئين</h4>

                </div>
                <div class="col-lg-4 py-4">
                    <div
                        class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                            class="bi bi-clock-history" viewBox="0 0 16 16">
                            <path
                                d="M8.515 1.019A7 7 0 0 0 8 1V0a8 8 0 0 1 .589.022l-.074.997zm2.004.45a7.003 7.003 0 0 0-.985-.299l.219-.976c.383.086.76.2 1.126.342l-.36.933zm1.37.71a7.01 7.01 0 0 0-.439-.27l.493-.87a8.025 8.025 0 0 1 .979.654l-.615.789a6.996 6.996 0 0 0-.418-.302zm1.834 1.79a6.99 6.99 0 0 0-.653-.796l.724-.69c.27.285.52.59.747.91l-.818.576zm.744 1.352a7.08 7.08 0 0 0-.214-.468l.893-.45a7.976 7.976 0 0 1 .45 1.088l-.95.313a7.023 7.023 0 0 0-.179-.483zm.53 2.507a6.991 6.991 0 0 0-.1-1.025l.985-.17c.067.386.106.778.116 1.17l-1 .025zm-.131 1.538c.033-.17.06-.339.081-.51l.993.123a7.957 7.957 0 0 1-.23 1.155l-.964-.267c.046-.165.086-.332.12-.501zm-.952 2.379c.184-.29.346-.594.486-.908l.914.405c-.16.36-.345.706-.555 1.038l-.845-.535zm-.964 1.205c.122-.122.239-.248.35-.378l.758.653a8.073 8.073 0 0 1-.401.432l-.707-.707z" />
                            <path d="M8 1a7 7 0 1 0 4.95 11.95l.707.707A8.001 8.001 0 1 1 8 0v1z" />
                            <path
                                d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5z" />
                        </svg>

                    </div>
                    <h4 class="text-body-emphasis">أسبوعين كحد أقصى</h4>

                </div>

            </div>
        </div>
        <div class="container py-5">
            <div class="row">
                <div class="col">
                     <div id="testimonial-slider" class="owl-carousel">
                        <div class="testimonial" dir="rtl">
                            <div class="pic">
                                <img src="../image/quote.svg">
                            </div>
                            <h3 class="title">Amal Hadi</h3>
                            <p class="description">
                                الدورة التدريبية كانت جداً مفيده خصوصاً قسم القواعد


                            </p>

                        </div>
                        <div class="testimonial">
                            <div class="pic">
                                <img src="../image/quote.svg">
                            </div>
                            <h3 class="title">علي عسيري</h3>
                            <p class="description">
                                اكتشفت أني عندي ضعف في قسم القواعد و القراءة من خلال اختبارتكم التجريبية، ركزت كثير على
                                الدورة التدريبية و الكويزات، وتطورت درجتي من 56 من أول اختبار إلى 88


                            </p>
                        </div>
                        <div class="testimonial">
                            <div class="pic">
                                <img src="../image/quote.svg">
                            </div>
                            <h3 class="title"> محمد النبهاني </h3>
                            <p class="description">
                                قبل الدورة التدريبية كانت الدرجة 72 و بعد الكورس 83


                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="container py-5 text-center">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="card mb-4 rounded-3 shadow-sm">
                        <div class="card-header py-3 text-bg-primary border-primary">
                            <h4>Gold</h4>

                        </div>
                        <div class="card-body" dir="rtl">
                            <h3 class="card-title">199 SR</h3>
                            <h6>تشمل</h6>
                            <div dir="rtl">
                                <ul class="card-text bi-ul">
                                    <li><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-check2-circle" viewBox="0 0 16 16">
                                            <path
                                                d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z" />
                                            <path
                                                d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z" />
                                        </svg> الدورة التدريبية</li>
                                    <li><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-check2-circle" viewBox="0 0 16 16">
                                            <path
                                                d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z" />
                                            <path
                                                d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z" />
                                        </svg> خمس اختبارات قصيرة لكل مهارة </li>

                                    <li> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-check2-circle" viewBox="0 0 16 16">
                                            <path
                                                d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z" />
                                            <path
                                                d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z" />
                                        </svg> خمس اختبارات تجريية مختلفة</li>
                                    <li> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-check2-circle" viewBox="0 0 16 16">
                                            <path
                                                d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z" />
                                            <path
                                                d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z" />
                                        </svg> صلاحية الحساب 65 يوم</li>
                                </ul>
                            </div>
                            <% if(!currentUser) { %>
                                <a href="/register" class="btn btn-lg btn-block" id="subscribeButton">اشترك الآن</a>
                                <% } else { %>
                                    <a href="/pay/<%= currentUser.id %>" class="btn btn-lg btn-block"
                                        id="subscribeButton">اشترك
                                        الآن</a>
                                    <% } %>
                        </div>


                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js"></script>
        <script src="/javascripts/courseDetailes.js"></script>
        <script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>
        <div class="elfsight-app-b7f3b061-00bc-41c3-968b-3b0ef1723700"></div>
        <!-- whatsApp widget -->
        <script src="https://apps.elfsight.com/p/platform.js" defer></script>
        <div class="elfsight-app-94449513-5f73-4186-9bda-5125b199883e"></div>

        <%- include ('../partails/footer.ejs')%>

</body>

</html>