<!DOCTYPE html>
<html>
<head>
	<title>Instruction</title>
	 <% include ../partails/head.ejs %>
	 <link rel="stylesheet" type="text/css" href="../stylesheets/Instruction.css">
	 
</head>
<body>
	
 <div class="container">
 	<h3 class="h3 mb-3 font-weight-normal text-center" id="title" style="color: red;" >تعليمات الأختبار</h3>
 	<div class="row">
 		<div class="col-md-12">
 			<h4>: ١- عدد الأسئلة هي ١٠٠ سؤال مقسمة إلى </h4>
 			<h5>٢٠ سؤال لقسم الاستماع</h5>
 			<h5>٤٠ سؤال لقسم القراءة</h5>
 			<h5>٤٠ سؤال لقسم القواعد والكتابة</h5>
 			<h4>٢- زمن الأختبار ساعتان و نصف</h4>
 			<h4>٣- يمكنك سماع المقطع الصوتي أكثر من مرة ولكن يفضل الأستماع مرة واحدة </h4>
 			<h4>٤- مع بداية كل مقطع صوتي توجد <strong style="color: red;">٢٠</strong> ثانية فارغة تسمح لك بقراءة الأسئلة حول المقطع</h4>
 			<h4>٥- في قسم الأستماع والقراءة توجد أرقام أعلى السؤال تدل على ترتيب المقطع من مجموع المقاطع</h4>
 			<h4>٦- في قسم القراءة تم نسخ بعض المقاطع النصية أكثر من مرة في صفحات مختلفة للتسهيل على المختبر فالأفضل تتبع رقم المقطع النصي </h4>
 			<h4>٧- يمكنك الإطلاع على نتيجة الأختبار في صفحة نتيجة الأختبار</h4>
 			<h4>٨- عليك التاكد من تفعيل الفلاش في المتصفح الخاص بك</h4>
 		</div>
 	</div>
 	<div class="row">
 		<div class="col-md-12 text-center">
 			<a href="/test" class="btn btn-primary btn-lg">صفحة الأختبارات</a>
 			<a href="/testOne/<%= userInfo.username %>" class="btn btn-success btn-lg">أبدأ الاختبار</a>
 		</div>
 	</div>
 </div>
</body>
</html>