<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-119528477-3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-119528477-3');
        gtag('config', 'AW-803667198');
    </script>
    <link rel="icon" href="/image/circleLogo.svg">
    <% include ../partails/head.ejs %>
        <link rel="stylesheet" type="text/css" href="../stylesheets/Quizzes.css">
        <title>الاختبارات القصيرة | سامبلز </title>



</head>

<body>

    <% include ../partails/headerMyBag.ejs %>
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="card">
                        <a href="/listening/<%= currentUser.id %>">
                            <img class="card-img-top" id="Listening" src="../image/Listening.svg" height="220"
                                width="220">
                        </a>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <a href="/reading/<%= currentUser.id %>">
                            <img class="card-img-top" id="Reading" src="../image/Reading.svg" alt="first test"
                                height="220" width="220">
                        </a>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <a href="/grammar/<%= currentUser.id%>">
                            <img class="card-img-top" id="Grammar" src="../image/Grammar.svg" alt="first test"
                                height="220" width="220">
                        </a>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col">
                    <div class="card">
                        <a href="/writing/<%= currentUser.id %>">
                            <img class="card-img-top" id="Writing" src="../image/Writing.svg" height="220" width="220">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
        </script>
        <% include ../partails/footer.ejs %>
</body>

</html>