<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" href="/image/circleLogo.svg">
    <% include ../partails/head.ejs %>
        <link rel="stylesheet" type="text/css" href="../stylesheets/grammar.css">
        <title>Reading| سامبلز </title>

</head>

<body>

    <% include ../partails/headerMyBag.ejs %>
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="card">
                        <a href="/reading/quizOne/<%= currentUser.id %>" class="btn shadow-none">
                            <img class="card-img-top" src="../image/OneBlue.svg">
                            <div class="card-body">
                                <hr>
                                <h5 class="card-title" style="padding-bottom: 32px;">Quiz One</h5>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <a href="/reading/quizTwo/<%= currentUser.id %>" class="btn shadow-none">
                            <img class="card-img-top" id="Reading" src="../image/TwoBlue.svg" alt="first test">
                            <div class="card-body">
                                <hr>
                                <h5 class="card-title" style="padding-bottom: 32px;"> Quiz Two</h5>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <a href="/reading/quizThree/<%= currentUser.id%>" class="btn shadow-none">
                            <img class="card-img-top" id="Grammar" src="../image/ThreeBlue.svg" alt="first test">
                            <div class="card-body">
                                <hr>
                                <h5 class="card-title" style="padding-bottom: 32px;">Quiz Three</h5>
                            </div>
                        </a>
                    </div>
                </div>

            </div>
        </div>
        <script type="text/javascript">
        </script>
        <% include ../partails/footer.ejs %>
</body>

</html>