<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" href="/image/circleLogo.png">
    <%include ../partails/head %>

    <link rel="stylesheet" href="/stylesheets/resultPage.css" />
    <title>نتيجة الإختبار</title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-119528477-3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-119528477-3');
    </script>

</head>

<body>
    <% include ../partails/subHeader %>
    <h3 class="h3 mb-3 font-weight-normal text-center" id="title">نتيجة الإختبار</h3>
    <div class="container">
        <% if(!resultInfo) { %>
        <h4>لاتوجد نتيجة</h4>
        <% } else { %>
        <div class="row">
            <div class="col-md-10">
                <label><%= resultInfo.totalResult %></label>
            </div>
            <label for="finalResult" class="col-sm-2 col-form-label"> : الدرجة الكلية</label>
        </div>
        <div class="row">
            <div class="col-md-10">
                <label> 20</label> <label>من </label> <label><%= resultInfo.listening %></label>
            </div>
            <label for="finalResult" class="col-sm-2 col-form-label"> : درجة الأستماع</label>
        </div>
        <div class="row">
            <div class="col-md-10">
                <label> 40</label> <label>من </label> <label><%= resultInfo.reading %></label>
            </div>
            <label for="finalResult" class="col-sm-2 col-form-label"> : درجة القراءة</label>
        </div>
        <div class="row">
            <div class="col-md-10">
                <label> 40</label> <label>من </label> <label><%= resultInfo.grammarAndWriting %></label>
            </div>
            <label for="finalResult" class="col-sm-2 col-form-label"> : درجة القواعد والكتابة</label>
        </div>
        <% } %>
    </div>
    
    <% include ../partails/footer.ejs %>
</body>