<!DOCTYPE html>
<html>
<head>
	<title>الإختبار العاشر</title>
	<link rel="icon" href="/image/circleLogo.png">
</head>
<body style="background-color: #668ba4">
 <div class="container">
 	<div class="row">
 		<div class="col-md-10" style="padding:0 0 0 320px;">
     <iframe src="https://www.classmarker.com/online-test/start/?quiz=txh5c59c20b7f473&iframe=1&cm_user_id=<%= currentUser.id %>" frameborder="0" style="width:100%;max-width:700px;" height="800"></iframe>
   <!--  <iframe src="https://www.classmarker.com/online-test/start/?quiz=99k5c59cbfc17e94&iframe=1&cm_user_id=<%= currentUser.id %>" frameborder="0" style="width:100%;max-width:700px;" height="800"></iframe> -->
   <!--  <iframe src="https://www.classmarker.com/online-test/start/?quiz=c6q5b330abc729db&iframe=1&cm_user_id=<%= currentUser.id %>" frameborder="0" style="width:100%;max-width:700px;" height="800"></iframe> -->

  





        </div>
    </div>
</div>
</body>
</html>