<!DOCTYPE html>
<html>
<head>
	<title>Test Four</title>
	<link rel="icon" href="../image/browserIcon.jpg">
</head>
<body style="background-color: #668ba4">
 <div class="container">
 	<div class="row">
 		<div class="col-md-10" style="padding:0 0 0 320px;">
     <iframe src="https://www.classmarker.com/online-test/start/?quiz=mjt5b96a95226c1b&iframe=1&cm_user_id=<%= currentUser.id %>" frameborder="0" style="width:100%;max-width:700px;" height="800"></iframe>
        </div>
    </div>
</div>
</body>
</html>