<!DOCTYPE html>
<html>
<head>
	<link rel="icon" href="/image/circleLogo.png">
	<title>الإختبار الثالث</title>
</head>
<body style="background-color: #668ba4">
 <div class="container">
 	<div class="row">
 		<div class="col-md-10" style="padding:0 0 0 320px;">
     <iframe src="https://www.classmarker.com/online-test/start/?quiz=jd95b96a8c55a659&iframe=1&cm_user_id=<%= currentUser.id %>" frameborder="0" style="width:100%;max-width:700px;" height="800"></iframe>
        </div>
    </div>
</div>
</body>
</html>