<!DOCTYPE html>
<html>
<head>
	<title>Test one</title>
</head>
<body style="background-color: #668ba4">
 <div class="container">
 	<div class="row">
 		<div class="col-md-12" style="padding:0 0 0 450px;">
       <iframe src="https://www.classmarker.com/online-test/start/?quiz=ebt5b92a1fd78157&iframe=1" frameborder="0" style="width:100%;max-width:700px;" height="800"></iframe>


        </div>
    </div>
</div>
</body>
</html>