<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" href="/image/circleLogo.svg">

    <link rel="stylesheet" type="text/css" href="">
    <title>الاختبارات القصيرة | سامبلز </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .container {
            position: relative;
            overflow: hidden;
            width: 100%;
            padding-top: 60%;
            height: 70vh;
            /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
        }

        /* Then style the iframe to fit in the container div with full height and width */
        .responsive-iframe {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            width: 100%;
            height: 100vh;
        }

        @media only screen and (min-width: 768px) {
            .container {
                height: 0vh !important;
            }
        }
    </style>

</head>

<body>


    <div class="container">


        <iframe class="responsive-iframe"
            src="https://new-acc-space-7694.ispring.com/s/embed_player/2361b260-78c8-11ee-8bf2-b2d1f71211ff"
            frameborder="0" border="0" scrolling="auto" allowtransparency="true" allowfullscreen="1"
            style="border: none; background-color: transparent;"></iframe>
    </div>


</body>