<!DOCTYPE html>
<html lang="en">

<head>

    <% include ../partails/head.ejs %>
        <link rel="stylesheet" type="text/css" href="/stylesheets/checkoutPage.css">
        <title>بيانات الدفع</title>
        <link rel="icon" href="/image/circleLogo.svg">

</head>

<body>

    <% include ../partails/headerMyBag.ejs %>



        <h3 class="h3 mb-3 font-weight-normal text-center" id="title">بيانات الدفع</h3>
        <div class="mysr-form"></div>
        <script>

            Moyasar.init({
                element: '.mysr-form',
                amount: 1000,
                currency: 'SAR',
                language: 'ar',
                description: 'Coffee Order #1',
                publishable_api_key: 'pk_live_kpcWHbPzcKb87VJSc8ofv9yAyGUF1QwPcNz8oAfm',
                callback_url: 'https://samples10.com/success',
                methods: ['creditcard'],
                supported_networks: [
                    'mada'
                ],
            });

        </script>










        <% include ../partails/footer.ejs %>

</body>