<!DOCTYPE html>
<html lang="en">

<head>

  <% include ../partails/head.ejs %>
    <link rel="stylesheet" type="text/css" href="../stylesheets/paymentStatus.css">
    <title>نتيجة الطلب</title>
    <link rel="icon" href="/image/circleLogo.svg">
    <!-- Moyasar Styles -->
    <link rel="stylesheet" href="https://cdn.moyasar.com/mpf/1.7.3/moyasar.css">

    <!-- Moyasar Scripts -->
    <script src="https://polyfill.io/v3/polyfill.min.js?features=fetch"></script>
    <script src="https://cdn.moyasar.com/mpf/1.7.3/moyasar.js"></script>
</head>

<body>

  <% include ../partails/headerMyBag.ejs %>
    <div class="grid-container">
      <div class="form-group row">
        <div class="col-md-6">
          <a href="/myBag" class="btn btn-success">حقيبتي</a>
        </div>
        <div class="col-md-6">
          <a href="/profile/<%= currentUser.id %>" class="btn btn-primary">الحساب</a>
        </div>
      </div>
    </div>


    <% include ../partails/footer.ejs %>
</body>