<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partails/head.ejs %>
    <link rel="stylesheet" type="text/css" href="../stylesheets/paymentStatus.css">
    <title>نتيجة الطلب</title>
    <link rel="icon" href="/image/circleLogo.png">
</head>

<body>
    <% include ../partails/subHeader.ejs %>
    <div class="grid-container">
        <div class="form-group row">
            <div class="col-md-6">
                <a href="/test" class="btn btn-success">الاختبارات</a>
            </div>
            <div class="col-md-6">
                <a href="/profile/<%= currentUser.id %>" class="btn btn-primary">الحساب</a>
            </div>
        </div>
    </div>
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/5ce5f5cdd07d7e0c6394f2c9/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>

    <% include ../partails/footer.ejs %>
</body>