<!DOCTYPE html>
<html lang="en">

<head>


    <% include ../partails/head.ejs %>
        <link rel="stylesheet" type="text/css" href="../stylesheets/payPage.css">
        <title>تفاصيل الاشتراك</title>
        <link rel="icon" href="/image/circleLogo.svg">

</head>

<body>
    <% include ../partails/headerMyBag.ejs %>

        <div class="grid-container">
            <div class="item-1">
                <h3 class="h3 mb-3 font-weight-normal text-center" id="title">تفاصيل الاشتراك</h3>
            </div>

            <form method="post" onsubmit=" return isChecked()" action=" /pay/<%=currentUser.id %>" id="payForm">
                <div class="form-group" dir="rtl">
                    <div class="mb-3">
                        <label for="memberShipPicker">نوع الباقة:</label>
                        <select class="form-select mb-2" name="memberShipPicker" id="memberShipPicker" required>
                            <option value="Gold">
                                Gold
                            </option>
                            <option value="Pro">Pro</option>
                        </select>
                    </div>
                </div>
                <div class="form-group" dir="rtl">
                    <div class=" mb-3">
                        <label for="couponInput"> لديك كوبون؟ الرجاء كتابته في الأسفل</label>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="رمز الكوبون" id="couponInput">
                            <button class="btn btn-secondary" id="couponInput" type="button"
                                onclick="applyCoupon()">تفعيل </button>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="total"> المبلغ الإجمالي بالريال: </label>
                        <input type="text" class="form-control" name="total" id="total" value="199" disable readonly>
                    </div>
                </div>
                <div class="form-group">
                    <div class="text-right" id="checkbox">
                        <input type="checkbox" name="terms" value="terms" id="terms"> أوافق على <a href="#"
                            onclick="window.open('/termsAndCondition' , 'myWindow' , 'height=400 width=400 top=100 , left=50' )">الشروط
                            والأحكام</a><br>
                    </div>

                    <div>
                        <button type="submit" class="btn btn-success" id="payButton">استمرار
                            للدفع</button>


                    </div>
                    <div>

                        <% if(!foundPayment) { %>
                            <input type="text" id="welcomeCouponExpiration"
                                value="<%= currentUser.welcomeCouponExpiration %>" hidden>
                            <% } else { %>
                                <input type="text" id="abandonedCouponExpiration"
                                    value="<%= foundPayment.abandonedCartCouponExpiration%>" hidden>
                                <input type="text" id="welcomeCouponExpiration"
                                    value="<%= currentUser.welcomeCouponExpiration %>" hidden>
                                <% } %>
                    </div>
                </div>
            </form>
        </div>

        <script type=" text/javascript" src="/javascripts/payPage.js"></script>


        <% include ../partails/footer.ejs %>
</body>