<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partails/head.ejs %>
    <link rel="stylesheet" type="text/css" href="../stylesheets/payPage.css">
    <title>نوع الباقة</title>
    <link rel="icon" href="/image/circleLogo.png">
    <script type="text/javascript">
        function isChecked() {
            var terms = document.getElementById("terms").checked;
            if (terms == false) {
                alert("الرجاء الموافقة على الشروط والأحكام")
                return false
            } else {
                return true;
            }
        }
    </script>
</head>

<body>
    <% include ../partails/subHeader.ejs %>

    <div class="grid-container">
        <div class="item-1">
            <h3 class="h3 mb-3 font-weight-normal text-center" id="title">الدفع</h3>
            <h6>عرض خاص خصم ٥٠٪ حتى تاريخ ١٠ يونيو ٢٠١٩</h6>
        </div>

        <form method="post" onsubmit=" return isChecked()"" action="/pay/<%= currentUser.id %>"> <div class="form-group">
            <div class="item-2">
                <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" name="memberShipPicker" required>
                    <option value="Gold">Gold (49.50 SAR)</option>
                    <option value="Pro">Pro (39.50 SAR)</option>
                </select>
                <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" name="paymntMethod" required>
                    <option value="DebitCard">طريقة الدفع</option>
                    <option value="DebitCard">عن طريق الأنترنت </option>
                    <option value="BankTransfer">تحويل بنكي</option>
                </select>
            </div>
    </div>
    <div class="form-group">
        <div class="text-right" id="checkbox">
            <input type="checkbox" name="terms" value="terms" id="terms"> أوافق على <a href="#" onclick="window.open('/termsAndCondition' , 'myWindow' , 'height=400 width=400 top=100 , left=50' )">الشروط والأحكام</a><br>
            <input type="checkbox" name="opinion" value="true"> أرغب في مشاركة تقييمي عن الموقع مع إدارة الموقع
        </div>
        <div class="item-3">
            <input type="submit" class="btn btn-success form-control" value="دفع">
        </div>
        <iframe src="https://maroof.sa/Business/GetStamp?bid=51232" style=" width: auto; height: 250px; overflow-y:hidden; padding-left:80px  " frameborder="0" seamless='seamless' scrollable="no"></iframe>
    </div>
    </form>
    </div>
    <script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/5ce5f5cdd07d7e0c6394f2c9/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>

    <% include ../partails/footer.ejs %>

</body>