<!DOCTYPE html>
<html>
<head>
	<title>Our App</title>
  <meta name="descripiton" content="قريباًً">
  <link rel="icon" href="/image/circleLogo.png">
	<% include partails/head.ejs %>
	<link rel="stylesheet" type="text/css" href="../stylesheets/app.css">
</head>
<body>
  <% include partails/subHeader.ejs %>
  <div class="container">
  	<div class="row">
  		<div class="col-md-12 text-center">
  			<h3>... قريباً</h3>
  		</div>
  	</div>
  	 
  </div>
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/5ce5f5cdd07d7e0c6394f2c9/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script> 

  <% include partails/footer.ejs %>
</body>
</html>