<!DOCTYPE html>
<html>
<head>
	<title>Our App</title>
  <meta name="descripiton" content="قريباًً">
  <link rel="icon" href="/image/circleLogo.png">
	<% include partails/head.ejs %>
	<link rel="stylesheet" type="text/css" href="../stylesheets/app.css">
</head>
<body>
  <% include partails/subHeader.ejs %>
  <div class="container">
  	<div class="row">
  		<div class="col-md-12 text-center">
        
  			<h3>... قريباً</h3>
  		</div>
  	</div>
  	 
  </div>


  <% include partails/footer.ejs %>
</body>
</html>