<!DOCTYPE html>
<html>
<head>
	<title>blog</title>
	<% include partails/head.ejs %>
	<link rel="stylesheet" type="text/css" href="../stylesheets/blog.css">
</head>
<body>
  <% include partails/subHeader.ejs %>
  <div class="container">
  	<div class="row">
  		<div class="col-md-12 text-center">
  			<h3>... قريباً</h3>
  		</div>
  	</div>
  	 
  </div>
 

  <% include partails/footer.ejs %>
</body>
</html>