<!doctype html>
<html lang="en">
  <head>
    <% include partails/head.ejs %>
    <link rel="stylesheet" type="text/css" href="../stylesheets/landingPage.css">
    <title>Samples</title>
  </head>
  <body>
    <% include partails/header.ejs %>

    <div class="jumbotron ">
      <div class="container">
       
          <h1 class="display-5">ستيب معنا أسهل </h1>
           <p class="lead" style="text-align: center;" class="col-md-4">أكسر الخوف وتهيئ للأختبار مع مجموعة متعددة من الأختبارات <br>المحاكاة من اختبار قياس</p>  
            <a class="btn btn-success btn-lg" href="/register" role="button">أبدأ الأن</a>
          </div>
</div>
     <!-- text informtion section -->
   <div class="container" id="test-information">
    <div class="row">
      <div class="col-sm-12">
         <h3> جوانب الأختبار</h3>
      </div>
    </div>
   </div>
  
   <div class="grid-container ">
     <div>
       <div class="image-border">
         <img class="rounded-circle" src="../image/question.png" width="80" height="80">
       </div>
     </div>
     <div >
       <div class="image-border">
        <img class="rounded-circle"  src="../image/book.png" width="80" height="80">
      </div>
     </div>
     <div>
       <div class="image-border">
        <img class="rounded-circle text-center" src="../image/audio.png" width="80" height="80">
      </div>
     </div>
     <div class="one">
       <h4>قواعد وكتابة</h4>
        <p>أهم قواعد اللغة وطرق كتابة الجمل وعلامات الترقيم</p>
     </div>
     <div class="two">
        <h4>قراءة</h4>
      <p>نصوص مقتبسة من مقالات علمية وكتب عالمية</p>
     </div>
     <div class="three">
       <h4>إستماع</h4>
       <p>مقاطع صوتية تركز على النقاط التي يقيسها الأختبار</p>
     </div>
   </div>

     <hr>
     <!-- computer section -->
     <div class="container">
       <div class="row" id="computer-section">
        
         <div class="col-md-9 d-none d-md-block">
           <img src="../image/laptop.png" width="542" height="278">
         </div>

         <div class=" col-md-3 col-sm-12" id="text" >
           <h3>لاتتردد</h3>
           <p id="text">أبدأ اختبارك الأول مجاناً
           <br>وتعرف على جوانب القوة والضعف <br>لديك قبل دخولك الإختبار</p>
           <button class="btn btn-success btn-lg" id="start-exam-button">أبدأ الأختبار</button>
         </div>
       </div>
     </div>
      <hr>
    
     <!-- Price section -->
     <div class="container" id="price">
       <div class="row">
         <div class="col-md-4">
           <div class="card text-center" id="cards-price">
             <h3 class="card-header">Free</h3>
             <div class="card-body">
               <h4 class="card-title">0 SR</h4>
               <p class="card-text">اختبار واحد <br> لمدة 3 ايام</p>
               <a href="/register" class="btn btn-lg btn-block btn-outline-primary">سجل مجاناً</a>
             </div>
           </div>
         </div>
         <div class="col-md-4">
           <div class="card text-center" id="cards-price">
             <h3 class="card-header">Pro</h3>
             <div class="card-body">
               <h4 class="card-title">79 SR</h4>
               <p class="card-text"> خمسة اختبارات <br> لمدة 45 يوم</p>
               <a href="/register" class="btn btn-lg btn-block btn-primary">أبدأ الأن</a>
             </div>
           </div>
         </div>
         <div class="col-md-4">
           <div class="card text-center" id="cards-price">
             <h3 class="card-header">Gold</h3>
             <div class="card-body">
               <h4 class="card-title">99 SR</h4>
               <p class="card-text">عشرة اختبارات <br> لمدة 99 يوم </p>
               <a href="#" class="btn btn-lg btn-block btn-primary disabled">... قريباً</a>
             </div>
           </div>
         </div>
       </div>
     </div>
     <% include partails/footer.ejs %>
  </body>
</html>