<!doctype html>
<html lang="en">

<head>



    <% include partails/head.ejs %>
        <link rel="stylesheet" type="text/css" href="../stylesheets/landingPage.css">
        <meta name="google-site-verification" content="h_oCGO9ZZGMihaFmSmb1K58LuJJDcHKL5chn3qqN3mk" />
        <title>اختبار ستيب تجريبي | سامبلز </title>
        <meta name="description" content="أبدأ اختبارك التجريبي الآن واكتشف نقاط الضعف والقوى لديك في جميع المهارات ">
        <link rel="icon" href="/image/circleLogo.svg">

        <script type="text/javascript" src="../javascripts/landingPage.js"></script>

</head>

<body>

    <% include partails/header.ejs %>

        <div class="px-3">
            <h1 class="display-5">ستيب معنا أسهل </h1>
            <div class="col-lg-6 mx-auto">
                <p class="lead">أكسر الخوف وتهيئ للاختبار من خلال الدورة
                    التدريبية و مجموعة متعددة من الاختبارات التجريبية
                    المحاكاة من اختبار ستيب
                </p>
            </div>
        </div>
        <!-- Feature Section  -->
        <div class="container px-4 py-5" dir="rtl">
            <div class="row g-4 py-5 row-cols-1 row-cols-lg-3 fadeinLeft">

                <div class="col d-flex align-items-start">
                    <div
                        class="icon-square text-dark d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                            class="bi bi-easel2" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M8 0a.5.5 0 0 1 .447.276L8.81 1h4.69A1.5 1.5 0 0 1 15 2.5V11h.5a.5.5 0 0 1 0 1h-2.86l.845 3.379a.5.5 0 0 1-.97.242L12.11 14H3.89l-.405 1.621a.5.5 0 0 1-.97-.242L3.36 12H.5a.5.5 0 0 1 0-1H1V2.5A1.5 1.5 0 0 1 2.5 1h4.691l.362-.724A.5.5 0 0 1 8 0ZM2 11h12V2.5a.5.5 0 0 0-.5-.5h-11a.5.5 0 0 0-.5.5V11Zm9.61 1H4.39l-.25 1h7.72l-.25-1Z" />
                        </svg>

                    </div>
                    <div>
                        <h2>تعلم</h2>
                        <p class="text-end">المهارات التي يقيسها اختبار ستيب و كيفية تطويرها في الدورة التدريبية
                            "اختبار ستيب دليلك التفصيلي لتحقيق الدرجة المطلوبة"</p>
                    </div>
                </div>
                <div class="col d-flex align-items-start">
                    <div
                        class="icon-square text-dark d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                        <i> <img src="../image/exercise.svg" alt="" height="60" width="60"></i>
                    </div>
                    <div>
                        <h2>تدرب</h2>
                        <p class="text-end"> التعلم وحده لا يكفي بل يحتاج إلى تدريب و ذالك من خلال خمس اختبارات
                            تجريبية
                            مختلفة محاكاة من اختبار ستيب لتطبيق ما تعلمته </p>
                    </div>
                </div>
                <div class="col d-flex align-items-start">
                    <div
                        class="icon-square  text-dark d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                            class="bi bi-check-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                            <path
                                d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z" />
                        </svg>
                    </div>
                    <div>
                        <h2>انطلق</h2>
                        <p class="text-end">بعد التعلم و التدريب ستكون جاهز لأداء الاختبار بكل ثقة و إخبارنا
                            بالنتيجة
                            التي ستحصل عليها</p>
                    </div>

                </div>
            </div>
        </div>
        <!-- End of Feature Section  -->
        <!-- Counter section begin -->
        <div class="px-3" id="counterSection">
            <div class="container" id="test-information">
                <div class="row">
                    <div class="col-md-12">
                        <h3>ارقام سامبلز</h3>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="feature col">
                            <div
                                class="feature-icon d-inline-flex align-items-center justify-content-center bg-success bg-gradient text-white fs-2 mb-3">
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                                    class="bi bi-display" viewBox="0 0 16 16">
                                    <path
                                        d="M0 4s0-2 2-2h12s2 0 2 2v6s0 2-2 2h-4c0 .667.083 1.167.25 1.5H11a.5.5 0 0 1 0 1H5a.5.5 0 0 1 0-1h.75c.167-.333.25-.833.25-1.5H2s-2 0-2-2V4zm1.398-.855a.758.758 0 0 0-.254.302A1.46 1.46 0 0 0 1 4.01V10c0 .325.078.502.145.602.07.105.17.188.302.254a1.464 1.464 0 0 0 .538.143L2.01 11H14c.325 0 .502-.078.602-.145a.758.758 0 0 0 .254-.302 1.464 1.464 0 0 0 .143-.538L15 9.99V4c0-.325-.078-.502-.145-.602a.757.757 0 0 0-.302-.254A1.46 1.46 0 0 0 13.99 3H2c-.325 0-.502.078-.602.145z" />
                                </svg>
                            </div>
                            <h3 class="counter">45000</h3>
                            <p>اختبار تم على المنصة</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="feature col">
                            <div
                                class="feature-icon d-inline-flex align-items-center justify-content-center bg-success bg-gradient text-white fs-2 mb-3">
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                                    class="bi bi-patch-check" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M10.354 6.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7 8.793l2.646-2.647a.5.5 0 0 1 .708 0z" />
                                    <path
                                        d="m10.273 2.513-.921-.944.715-.698.622.637.89-.011a2.89 2.89 0 0 1 2.924 2.924l-.01.89.636.622a2.89 2.89 0 0 1 0 4.134l-.637.622.011.89a2.89 2.89 0 0 1-2.924 2.924l-.89-.01-.622.636a2.89 2.89 0 0 1-4.134 0l-.622-.637-.89.011a2.89 2.89 0 0 1-2.924-2.924l.01-.89-.636-.622a2.89 2.89 0 0 1 0-4.134l.637-.622-.011-.89a2.89 2.89 0 0 1 2.924-2.924l.89.01.622-.636a2.89 2.89 0 0 1 4.134 0l-.715.698a1.89 1.89 0 0 0-2.704 0l-.92.944-1.32-.016a1.89 1.89 0 0 0-1.911 1.912l.016 1.318-.944.921a1.89 1.89 0 0 0 0 2.704l.944.92-.016 1.32a1.89 1.89 0 0 0 1.912 1.911l1.318-.016.921.944a1.89 1.89 0 0 0 2.704 0l.92-.944 1.32.016a1.89 1.89 0 0 0 1.911-1.912l-.016-1.318.944-.921a1.89 1.89 0 0 0 0-2.704l-.944-.92.016-1.32a1.89 1.89 0 0 0-1.912-1.911l-1.318.016z" />
                                </svg>
                            </div>
                            <h3 class="counter">685</h3>
                            <p>مجموع المشتركين</p>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="feature col">
                            <div
                                class="feature-icon d-inline-flex align-items-center justify-content-center bg-success bg-gradient text-white fs-2 mb-3">
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                                    class="bi bi-collection-play" viewBox="0 0 16 16">
                                    <path
                                        d="M2 3a.5.5 0 0 0 .5.5h11a.5.5 0 0 0 0-1h-11A.5.5 0 0 0 2 3zm2-2a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 0-1h-7A.5.5 0 0 0 4 1zm2.765 5.576A.5.5 0 0 0 6 7v5a.5.5 0 0 0 .765.424l4-2.5a.5.5 0 0 0 0-.848l-4-2.5z" />
                                    <path
                                        d="M1.5 14.5A1.5 1.5 0 0 1 0 13V6a1.5 1.5 0 0 1 1.5-1.5h13A1.5 1.5 0 0 1 16 6v7a1.5 1.5 0 0 1-1.5 1.5h-13zm13-1a.5.5 0 0 0 .5-.5V6a.5.5 0 0 0-.5-.5h-13A.5.5 0 0 0 1 6v7a.5.5 0 0 0 .5.5h13z" />
                                </svg>
                            </div>
                            <h3 class="counter">91</h3>
                            <p>فيديو تعليمي</p>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="feature col">
                            <div
                                class="feature-icon d-inline-flex align-items-center justify-content-center bg-success bg-gradient text-white fs-2 mb-3">
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                                    class="bi bi-ui-checks-grid" viewBox="0 0 16 16">
                                    <path
                                        d="M2 10h3a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1v-3a1 1 0 0 1 1-1zm9-9h3a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-3a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zm0 9a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h3a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1h-3zm0-10a2 2 0 0 0-2 2v3a2 2 0 0 0 2 2h3a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2h-3zM2 9a2 2 0 0 0-2 2v3a2 2 0 0 0 2 2h3a2 2 0 0 0 2-2v-3a2 2 0 0 0-2-2H2zm7 2a2 2 0 0 1 2-2h3a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2h-3a2 2 0 0 1-2-2v-3zM0 2a2 2 0 0 1 2-2h3a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm5.354.854a.5.5 0 1 0-.708-.708L3 3.793l-.646-.647a.5.5 0 1 0-.708.708l1 1a.5.5 0 0 0 .708 0l2-2z" />
                                </svg>
                            </div>
                            <h3 class="counter">71</h3>
                            <p>تمرين و تطبيقات مختلفة</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Counter section  -->
        <!-- Carousel section begin -->
        <div class="container" id="test-information">
            <div class="row">
                <div class="col">
                    <h3> آراء المشتركين</h3>
                </div>
            </div>
        </div>
        <div class="container">
            <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"></li>
                    <li data-bs-target="#myCarousel" data-bs-slide-to="1"></li>
                    <li data-bs-target="#myCarousel" data-bs-slide-to="2"></li>
                    <li data-bs-target="#myCarousel" data-bs-slide-to="3"></li>


                </ol>
                <div class="carousel-inner text-center" role="listbox">
                    <div class="carousel-item active">
                        <h5>حصلت على درجة ٨٥ يرجع الفضل بعد الله إلى موقعكم مشكورين</h5>
                        <p>Soud Alsaawi</p>
                    </div>
                    <div class="carousel-item">
                        <h5>بعد الاشتراك معكم ارتفعت درجتي 12 درجة، اختباراتكم نفعتني الحمدلله </h5>
                        <p>ناصر الجهني</p>
                    </div>
                    <div class="carousel-item">
                        <h5> ما تتخيلو قد أيش استفدت من الاختبارات، حقيقي ما يفي حقكم الا الدعاء، مررررة شكراً </h5>
                        <p>Sara Aljuhani</p>
                    </div>
                    <div class="carousel-item" id="tesominal">
                        <h5></h5>
                        <a href="/testominalPage">
                            للمزيد من الآراء
                        </a>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#myCarousel" role="button" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#myCarousel" role="button" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <!-- End of Carousel section  -->

        <hr>
        <!-- Price section -->
        <section id="price">
            <div class="container">
                <div class="container" id="priceSection">
                    <div class="row">
                        <div class="col-lg-12">
                            <h3> اختر الباقة المناسبة لك</h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="card text-center" id="cards-price">
                            <h3 class="card-header">Free</h3>
                            <div class="card-body">

                                <h4 class="card-title">0 SR</h4>
                                <h6>تشمل</h6>
                                <div dir="rtl">
                                    <ul class="card-text fa-ul">
                                        <li> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                fill="currentColor" class="bi bi-check-lg text-success"
                                                viewBox="0 0 16 16">
                                                <path
                                                    d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" />
                                            </svg>اختبار واحد</li>
                                        <li> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                fill="currentColor" class="bi bi-check-lg text-success"
                                                viewBox="0 0 16 16">
                                                <path
                                                    d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" />
                                            </svg>صلاحية الحساب 24 ساعة</li>
                                    </ul>
                                </div>

                                <a href="/register" class="btn btn-lg btn-block btn-outline-secondary">سجل مجاناً</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card text-center" id="cards-price">
                            <!-- <div class="hot">عرض خاص</div> -->
                            <h3 class="card-header">Pro</h3>
                            <div class="card-body">

                                <h4 class="card-title">165 SR</h4>
                                <h6>تشمل</h6>
                                <div dir="rtl">
                                    <ul class="card-text fa-ul">
                                        <li> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                fill="currentColor" class="bi bi-check-lg text-success"
                                                viewBox="0 0 16 16">
                                                <path
                                                    d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" />
                                            </svg>خمس اختبارات تجريية مختلفة</li>
                                        <li> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                fill="currentColor" class="bi bi-check-lg text-success"
                                                viewBox="0 0 16 16">
                                                <path
                                                    d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" />
                                            </svg>صلاحية الحساب 30 يوم</li>
                                    </ul>
                                </div>
                                <% if(!currentUser) { %>
                                    <a href="/register" class="btn btn-lg btn-block btn-secondary">اشترك الآن</a>
                                    <% } else { %>
                                        <a href="/pay/<%= currentUser.id %>"
                                            class="btn btn-lg btn-block btn-secondary">اشترك
                                            الآن</a>
                                        <% } %>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card text-center border-secondary" id="cards-price">
                            <!-- <div class="hot">عرض خاص خصم %50</div> -->
                            <h3 class="card-header border-secondary text-white bg-secondary">Gold</h3>
                            <div class="card-body">
                                <!-- <h4 class="card-title"> <del>199</del> SR</h4> -->
                                <h4 class="card-title"> 199 SR</h4>

                                <h6>تشمل</h6>
                                <div dir="rtl">
                                    <ul class="card-text fa-ul">
                                        <li> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                fill="currentColor" class="bi bi-check-lg text-success"
                                                viewBox="0 0 16 16">
                                                <path
                                                    d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" />
                                            </svg>الدورة التدريبية</li>

                                        <li> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                fill="currentColor" class="bi bi-check-lg text-success"
                                                viewBox="0 0 16 16">
                                                <path
                                                    d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" />
                                            </svg>خمس اختبارات تجريية مختلفة</li>
                                        <li> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                fill="currentColor" class="bi bi-check-lg text-success"
                                                viewBox="0 0 16 16">
                                                <path
                                                    d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" />
                                            </svg>صلاحية الحساب 65 يوم</li>
                                    </ul>
                                </div>
                                <% if(!currentUser) { %>
                                    <a href="/register" class="btn btn-lg btn-block btn-secondary">اشترك الآن</a>
                                    <% } else { %>
                                        <a href="/pay/<%= currentUser.id %>"
                                            class="btn btn-lg btn-block btn-secondary">اشترك
                                            الآن</a>
                                        <% } %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>






        <% include partails/footer.ejs %>
</body>

</html>