/*nav style and body*/

body {
	font-family: 'Cairo', sans-serif;
}

nav {
	direction: rtl;
}

li {
	padding-left: 15px;
}
 
 /* End of nav style and body*/

#title {
	margin: 35px 0 0 0 ;
}
.form-group {
  
  margin: 25px 0 25px 350px;
}

/*Footer style */


a {
	text-decoration : none;
	color: inherit;
}

.footer-link li{
	list-style-type: none;
	padding-top: 10px;
}

.footer-link {
	margin: 50px;
}

 /* EndFooter style */