<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partails/head.ejs %>
    <link rel="stylesheet" type="text/css" href="../stylesheets/resultPage.css">
  </head>
  <body>

    <% include partails/header.ejs %>


 <h3 class="h3 mb-3 font-weight-normal text-center" id="title">نتيجة الأختبار</h3>
 <div class="container">
  <div class="row">
    <div class="col-md-10">
    <label>74</label>
    </div>
    <label for="finalResult" class="col-sm-2 col-form-label"> : الدرجة الكلية</label>
  </div>
  <div class="row">
    <div class="col-md-10">
    <label>   90</label> <label>من  </label>  <label>74</label>
    </div>
    <label for="finalResult" class="col-sm-2 col-form-label"> : درجة الأستماع</label>
  </div>
  <div class="row">
    <div class="col-md-10">
    <label>   90</label> <label>من  </label>  <label>74</label>
    </div>
    <label for="finalResult" class="col-sm-2 col-form-label"> : درجة القراءة</label>
  </div>
  <div class="row">
    <div class="col-md-10">
    <label>   90</label> <label>من  </label>  <label>74</label>
    </div>
    <label for="finalResult" class="col-sm-2 col-form-label"> : درجة القواعد والكتابة</label>
  </div>
  <div class="row">
    <div class="col-md-10">
      <img src="../image/piechart.png" id="piechartImage">
    </div>
  </div>
 </div>
 </div>
   <% include partails/footer.ejs %>
</body>