/*nav style and body*/

body {
	font-family: 'Cairo', sans-serif;
}

nav {
	direction: rtl;
}

li {
	padding-left: 15px;
}
 
 /* End of nav style and body*/


h3 {
	margin-top: 30px;
	margin-bottom: 20px;
}


.col-md-10 {
	text-align: center;
	margin-top: 30px;
}


#piechartImage {
	width: 50%;
	margin-top: 20px;
}

 /*Footer style */


a {
	text-decoration : none;
	color: inherit;
}

.footer-link li{
	list-style-type: none;
	padding-top: 10px;
}

.footer-link {
	margin: 50px;
}

 /* EndFooter style */