<!DOCTYPE html>
<html>
<head>
	<% include partails/head.ejs %>
  <link rel="stylesheet" type="text/css" href="../stylesheets/sendToUs.css">
  <meta name="descripiton" content="تواصل معنا لإبداء رايك او إذا واجهتك مشكلة أثناء استخدام الم،قع">
  <title>راسلنا | سامبلز</title>
 <link rel="icon" href="/image/circleLogo.png">
</head>
<body>
  <% include partails/subHeader.ejs %>
<div class="grid-container">
  <form method="post"  action="/send">
    <div class="form-group">
        <div class="item-1">
          <input type="email" class="form-control" placeholder="Email" required name="email">
           <input type="text" class="form-control" placeholder="Subject" required name="subject">
            <textarea class="form-control" rows="5" placeholder="Message" name="message" required></textarea>
        </div> 
      </div>
      <div class="form-group">
        <div class="item-2">
          <input type="submit"  class="btn btn-success" id="sendButton" value="إرسال">
        </div>
      </div>
  </form>
</div>
 <script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/5ce5f5cdd07d7e0c6394f2c9/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
 <% include partails/footer.ejs %>

</body>