<!DOCTYPE html>
<html>

<head>


  <%- include ('partails/head.ejs') %>
    <link rel="stylesheet" type="text/css" href="../stylesheets/sendToUs.css">
    <meta name="descripiton" content="تواصل معنا لإبداء رايك او إذا واجهتك مشكلة أثناء استخدام الم،قع">
    <title>راسلنا | سامبلز</title>
    <link rel="icon" href="/image/circleLogo.svg">
</head>

<body>
  <%- include ('partails/header.ejs') %>
    <div class="grid-container">
      <form method="post" action="/send" novalidate class="validated-form" id="messageForm">
        <div class="form-group mb-3">

          <input type="email" class="form-control" placeholder="Email" required name="email">
          <input type="text" class="form-control" placeholder="Subject" required name="subject">
          <textarea class="form-control" rows="5" placeholder="Message" name="message" required></textarea>

        </div>
        <div class="form-group mb-3">

          <button type="submit" id="sendButton" class="btn btn-success">إرسال</button>
        </div>

      </form>
    </div>


    <script src="/javascripts/sendToUs.js"></script>
    <%- include ('partails/footer.ejs') %>


</body>