<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../stylesheets/signInpage.css">
    <link href="https://fonts.googleapis.com/css?family=Cairo|Tajawal" rel="stylesheet">

    <title>Hello, world!</title>
  </head>
<body class="text-center">
	<!-- <h1 class="h3 mb-3 font-weight-normal">الرجاء تسجيل الدخول</h1>
		<form>
			<div class="form-group row">
				<div class="col-sm-10">
					<input type="email" class="form-control" placeholder="Email" name="">
					<input type="password" class="form-control"  placeholder="Password">
				</div>
			</div>
			<div class="form-group row">
				<div class="col-sm-10">
					<div class="form-check">
						<input class="form-check-input" type="checkbox">
						<label>تذكرني</label>
					</div>
				</div>
			</div>	
				<div class="form-group row" >
					<div class="col-sm-10">
						<button type="submit" class="btn btn-lg btn-primary" id="sign-button">تسجيل الدخول</button>
					</div>
				</div>
				<div class="form-group row">
					<div class="cl-sm-10">
					  <a href="#">نسيت كلمة المرور</a>
				    </div>
				</div>
				<div class="form-group">
					<div class="col-sm-10">
						<p>Copyright © 2018 Samples, Inc.</p>
					</div>
				</div>
				
      	</form> -->
          <div class="grid-container">
         	<div class="item-1">
         	    <h1 class="h3 mb-3 font-weight-normal">الرجاء تسجيل الدخول</h1>
         	</div>
         	<form>
         		<div class="form-group">
	         	   <div class="item-2">
	         	   	 <input type="email" class="form-control" placeholder="Email" name="">
	         	   	 <input type="password" class="form-control"  placeholder="Password">
	         	   </div>
	         	</div>
	         	<div class="form-group">
	         		<div class="item-3">
	         			<div class="form-check">
	         				<input class="form-check-input" type="checkbox">
	         				<label>تذكرني</label>
	         			</div>
	         		</div>
	         	</div>
	         	<div class="form-group">
	         		<div class="item-4">
	         			<button type="submit" class="btn btn-lg btn-primary" id="sign-button">تسجيل الدخول</button>
	         		</div>
	         	</div>
	         	<div class="form-group">
	         		<div class="item-5">
	         			 <a href="#">نسيت كلمة المرور</a>
	         		</div>
	         	</div>
	         	<div class="form-group">
	         		<div class="item-6">
	         			<p>Copyright © 2018 Samples, Inc.</p>
	         		</div>
	         	</div>
	         	
	        </form>
         </div>


   <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
</body>
</html>