<!DOCTYPE html>
<html lang="en">

<head>
  <% include partails/head.ejs %>
    <link rel="stylesheet" type="text/css" href="./stylesheets/whoWeAre.css">
    <title>الشروط والأحكام | سامبلز </title>
    <link rel="icon" href="/image/circleLogo.svg">
    <meta name="descripiton"
      content="أنشى الموقع من أجل مساعدة الطلاب على مختلف أعمارهم حصولهم على الدرجة التي يتمنونها في أختبار ستيب ">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-119528477-3"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() { dataLayer.push(arguments); }
      gtag('js', new Date());

      gtag('config', 'UA-119528477-3');
      gtag('config', 'AW-803667198');
    </script>

</head>

<body>
  <% include partails/subHeader.ejs %>

    <div class="container">
      <h3 class="h3 mb-3 font-weight-normal text-center" id="title">الشروط والأحكام</h3>
      <div class="row">
        <div class="col text-right">
          <h5>:شروط الأستخدام</h5>
          <h6>١- لا يحق أستخدام الموقع لمن لا تتجاوز أعمارهم ١٢</h6>
          <h6>٢- يلتزم الموقع بالتعامل مع معلوماتك الشخصية بكل سرية وعدم إفشائها إلى طرف ثالث من دون إذن خطي من صاحب
            الحساب</h6>
          <h6>٣- يمنع إستخدام أكثر من عضوية في الموقع لكل شخص</h6>
          <h6>٤- يلتزم العضو بعدم مشاركة معلومات عضويته مع أي احد</h6>
          <h6>٥- يسمح للموقع بإرسال رسائل دعائية خاصة بالموقع ونشرات تعليمية عن طريق الإيميل ويحق للشخص طلب عدم إرسال
            مثل هذه الرسائل</h6>
          <h6>٦- يحتفظ الموقع في حق تعديل الشروط والأحكام إذا لزم الأمر ومتى كان ذالك ملائماً</h6>
        </div>
        <div class="col text-right">
          <h5>:شروط الإشتراك بالخدمة</h5>
          <h6>١- المبلغ المدفوع غير قابل للإسترجاع</h6>
          <h6>٢- يلتزم الموقع بالمدة وعدد الإختبارات المسموحة لكل باقة</h6>
        </div>
      </div>
    </div>

    <% include partails/footer.ejs %>

</body>