<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('partails/head.ejs') %>
        <link rel="stylesheet" type="text/css" href="./stylesheets/testominalPage.css">
        <title>حائط الناجحين | سامبلز </title>
        <link rel="icon" href="/image/circleLogo.svg">
        <meta name="descripiton"
            content="أنشى الموقع من أجل مساعدة الطلاب على مختلف أعمارهم حصولهم على الدرجة التي يتمنونها في أختبار ستيب ">


</head>

<body>
    <%- include ('partails/subHeader.ejs') %>

        <div class="container text-center">
            <h3 class="h3 mb-3 font-weight-normal text-center" id="title">
                <span>&#129321;</span>

                حائط الناجحين


            </h3>
            <div class="row">
                <div class="col">
                    <div class="card text-bg-primary">
                        <div class="card-header">Soud Alsaawi</div>
                        <div class="card-body">
                            <h5 class="card-title">الدرجة : ٨٥</h5>
                            <p class="card-text">يرجع الفضل بعد الله إلى موقعكم في حصولي على هذه الدرجة مشكورين</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-header">ناصر الجهني</div>
                        <div class="card-body">
                            <h5 class="card-title">الدرجة : ٧٢</h5>
                            <p class="card-text">بعد الاشتراك معكم ارتفعت درجتي 12 درجة، اختباراتكم نفعتني الحمدلله </p>
                        </div>
                    </div>
                </div>


                <div class="col">
                    <div class="card">
                        <div class="card-header">Sara Aljuhani</div>
                        <div class="card-body">
                            <h5 class="card-title">الدرجة : ٧٦</h5>
                            <p class="card-text">ما تتخيلو قد أيش استفدت من الاختبارات، حقيقي ما يفي حقكم الا الدعاء،
                                مررررة شكراً </p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card">
                        <div class="card-header">ابراهيم محمد</div>
                        <div class="card-body">
                            <h5 class="card-title">الدرجة : ٧٠</h5>
                            <p class="card-text">موقع جميل و مفيد استفدت من كثيراً واشكركم على الجهود الممتازة</p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card">
                        <div class="card-header">جابر</div>
                        <div class="card-body">
                            <h5 class="card-title">الدرجة : ٧٨</h5>
                            <p class="card-text">أشكركم على موقعكم و أسعاركم المنافسة، وعلى جهودكم المبذولة شكراً لكم
                                من القلب والله </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-header">Amal Hadi</div>
                        <div class="card-body">
                            <h5 class="card-title">الدرجة : ٨٨</h5>
                            <p class="card-text">الدورة التدريبية كانت جداً مفيده
                                خصوصاً قسم القواعد</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-header">Meteb Alrawqi</div>
                        <div class="card-body">
                            <h5 class="card-title">الدرجة : ٨٥</h5>
                            <p class="card-text">االتدريب جداً فعال و جميل
                                والأسئلة رائعة في موقعكم</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-header">علي عسيري</div>
                        <div class="card-body">
                            <h5 class="card-title">الدرجة : ٨٨</h5>
                            <p class="card-text">اكتشفت أني عندي ضعف في قسم
                                القواعد و القراءة من خلال اختبارتكم
                                التجريبية، ركزت كثير على الدورة التدريبية
                                و الكويزات، وتطورت درجتي من 56 من أول
                                اختبار إلى 88 </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-header">احلام</div>
                        <div class="card-body">
                            <h5 class="card-title">الدرجة : ٧٩</h5>
                            <p class="card-text">موقعكم فادني جددددداً في الحصول على هذه الدرجة</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-header">محمد النبهاني</div>
                        <div class="card-body">
                            <h5 class="card-title">الدرجة : ٨٣</h5>
                            <p class="card-text">قبل الدورة التدريبية كانت الدرجة ٧٢ و بعد الكورس ٨٣</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-header">سارة الفريحي</div>
                        <div class="card-body">
                            <h5 class="card-title">الدرجة : ٧٩</h5>
                            <p class="card-text"> الدورة التدريبية كانت فعالة و استفدت منها</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <% if(!currentUser) { %>
                            <div class="card-header">اسمك</div>
                            <% } else { %>
                                <div class="card-header">
                                    <%= currentUser.username %>
                                </div>
                                <% } %>
                                    <div class="card-body">
                                        <h5 class="card-title">الدرجة : ٩٠</h5>
                                        <p class="card-text">
                                            كن قصة النجاح التالية و شاركنا نتيجتك في الاختبار
                                        </p>
                                        <a href="/message" class="btn btn-primary">تواصل معنا</a>
                                    </div>
                    </div>

                </div>



            </div>
        </div>
        <%- include ('partails/footer.ejs') %>

</body>