<!DOCTYPE html>
<html lang="en">

    <% include partails/head.ejs %>
    <link rel="stylesheet" type="text/css" href="../stylesheets/testPage.css">
  </head>
  <body>

    <% include partails/header.ejs %>

  <div class="container">
  	<div class="row">
  		<div class="col-md-4">
  	      <div class="card">
		  		<img class="card-img-top" src="../image/one.png"  alt="first test">
		  		<div class="card-body">
		  			<hr>
		  			<h5 class="card-title" style="padding-bottom: 32px;">الأختبار الأول</h5>
		  			<a href="#" class="btn btn-success"> أبداء</a>
		  		</div>
		  	</div>
		</div>
		<div class="col-md-4">
  	      <div class="card">
		  		<img class="card-img-top" src="../image/two.png"  alt="first test">
		  		<div class="card-body">
		  			<hr>
		  			<h5 class="card-title" style="padding-bottom: 32px;">الأختبار الثاني</h5>
		  			<a href="#" class="btn btn-warning"> أكمل الأختبار</a>
		  		</div>
		  	</div>
		</div>
		<div class="col-md-4">
  	      <div class="card">
		  		<img class="card-img-top" src="../image/verified.png"  alt="first test">
		  		<div class="card-body">
		  			<hr>
		  			<h5 class="card-title">الأختبار الثالث</h5>
		  			<a href="#" class="btn btn-primary"> نتيجة الأختبار</a><br>
		  			<a href="#" class="btn btn-primary"> إعادة الأختبار</a>
		  		</div>
		  	</div>
		</div>
	  </div>
  </div>
     
     <% include partails/footer.ejs %>


  </body>
</html>
</html>