<!DOCTYPE html>
<html>
<head>
	<title>Test one</title>
</head>
<body>
 <div class="container">
 	<div class="row">
 		<div class="col-md-10">
            <iframe src="https://www.classmarker.com/online-test/start/?quiz=f435b2c66710ba4f&iframe=1" frameborder="0" style="width:100%;max-width:700px;" height="800"></iframe>
        </div>
    </div>
</div>
</body>
</html>