<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partails/head.ejs %>
    <link rel="stylesheet" type="text/css" href="./stylesheets/whoWeAre.css">
    <title>من نحن | سامبلز </title>
    <link rel="icon" href="/image/circleLogo.png">
    <meta name="descripiton" content="أنشى الموقع من أجل مساعدة الطلاب على مختلف أعمارهم حصولهم على الدرجة التي يتمنونها في أختبار ستيب ">
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-119528477-3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-119528477-3');
</script>

  </head>
  <body>
   <% include partails/subHeader.ejs %>

<div class="container">
  <h3 class="h3 mb-3 font-weight-normal text-center" id="title">من نحن</h3>
  <div class="row">
    <div class="col-md-10 col-xs-12">
      <h5 class="text-center"> أنشئ موقع <strong><label>Samples</label></strong> من أجل مساعدة الطلاب على مختلف أعمارهم في حصولهم على الدرجة التي يتمنونها في اختبار ستيب </h5>
      <h5 class="text-center">لذالك تم تكوين فريق عمل متخصص و خبير في اللغة الانجليزية وطريقة كتابة أسئلتها على غرار الإختبارات المعتمدة لتدريب الطالب ومعرفة نقاط قوته وضعفه  لمساعدته على  تطويرها  </h5>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 text-right">
      <h6> فريق العمل</h6>
    </div>
  </div>
</div>

<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/5ce5f5cdd07d7e0c6394f2c9/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
 
  <% include partails/footer.ejs %>

</body>