body {
	font-family: 'Cairo', sans-serif;
}

nav {
	direction: rtl;
}
 

li {
	padding-left: 15px;
}
 
a {
	text-decoration : none;
	color: inherit;

}


.footer-link li{
	list-style-type: none;
	padding-top: 8px;
}

.footer-link {
	margin: 50px;
}

.container {
	text-align: center;
}