body {
	font-family: 'Cairo', sans-serif;
}

nav {
	direction: rtl;
}
 

li {
	padding-left: 15px;
}
 
 /* End of nav style and body*/

  /*Footer style */


a {
	text-decoration : none;
	color: inherit;

}

#upgradeButton:hover {
 color: white
}

.footer-link li{
	list-style-type: none;
	padding-top: 8px;
}

.footer-link {
	margin: 50px;
}

.container {
	text-align: center;
}