body {
	
}
.jumbotron{
	text-align: center;
	padding: 120px;
	background-color: #F4F9F4;
}

.jumbotron a {
	text-align: center;
	margin-top: 25px;
	padding: 0 25px 0 25px;
	border-radius: 15px ; 
}

.hot {
    position: absolute;
    top: -7px;
    background: #F80;
    color: #fff;
    text-transform: uppercase;
    z-index: 2;
    padding: 2px 5px;
    font-size: 9px;
    border-radius: 2px;
    right: 10px;
    font-weight: 700;
}

#test-information {
	text-align: center;
	border-bottom: 1px solid black;
	width: 15%;
}

.grid-container {
	margin-top: 70px;
	margin-bottom: 70px;
	display: grid;
	grid-template-rows:  auto auto auto;
	grid-gap: 20px ;
	justify-content: space-around;
}

 @media screen and (max-width: 759px){
.one {
	grid-row: 2/3
}

.two {
	grid-row: 4/5;
}
.three {
	grid-row: 6/7;
}
.grid-container > div {
	text-align: center;
}
}

/*desktop */

@media screen and (min-width: 760px) {

.grid-container {
	margin-top: 70px;
	margin-bottom: 70px;
	display: grid;
	grid-template-columns: auto auto auto;
	grid-gap: 20px ;
	justify-content: space-around;
}

.grid-container > div {
	text-align: center;
}


 
#computer-section {
 margin-top: 150px;
 margin-bottom: 100px;

}

#text {
	text-align: center;
}

#start-exam-button {
	margin-top: 25px;
	border-radius: 15px;
}

#cards-price {
	text-align: center;
	margin: 35px 0 30px 50px ;
	box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.card-text {
	text-align: center;
	margin-right: 10px;
	padding-top: 10px;
	padding-bottom: 75px;
}

.carousel-item{
	margin-top: 20px;
	margin-bottom: 45px;
}


.carousel-indicators  .active{
	background-color:    grey;
}

.carousel-control-prev-icon {
 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23808080' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23808080' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

/* For desktop: */



