.grid-container {
	display: grid;
	grid-template-rows: auto auto auto;
	grid-gap: 10px;
	justify-content: center;
}

.grid-container>div {
	text-align: center;
}


h3 {
	margin-top: 25px;
}



#payButton {
	color: transparent;
	border-radius: 10px;
	padding: 5px 80px 5px 80px;
	background: url('/image/madaPayment.svg') center no-repeat;

}

.payButtons {
	margin-left: 45px;
}


#iconApple {
	color: transparent;
	background: url('/image/applePayPayment.svg') center no-repeat;
	border-radius: 10px;
	padding: 5px 80px 5px 80px;


}


h6 {
	color: red;
}

#checkbox {
	direction: rtl;
	margin-bottom: 20px;
}

#checkbox a {
	text-decoration: underline;
}