.grid-container {
	display: grid;
	grid-template-columns:  auto auto ;
	grid-gap: 5px;
	justify-content: center;
}

.grid-container > div {
	text-align: center;
	padding-right: 50px;
	padding-left: 50px;
}

#title {
	margin: 35px 0 0 0 ;
}

@media screen and (min-width: 760px){
.form-group {  
  margin: 30px 100px 18px 250px;
}

}

@media screen and (max-width: 759px){
.form-group {  
  margin: 0
}
}




.btn {
	border-radius: 10px;
}

