.grid-container {
	display: grid;
	grid-template-columns:  auto auto ;
	grid-gap: 5px;
	justify-content: center;
}

.grid-container > div {
	text-align: center;
	padding-right: 50px;
	padding-left: 50px;
}

#title {
	margin: 35px 0 0 0 ;
}
.form-group {
  
  margin: 30px 100px 18px 250px;
}

.btn {
	border-radius: 10px;
}

