.grid-container {
	display: grid;
	grid-template-columns: auto auto;
	grid-gap: 5px;
	justify-content: center;
}


#title {
	margin: 35px 0 0 0;
	color: green;
}


@media screen and (min-width: 821px) {
	.form-group {
		margin: 30px 250px 18px 250px;
	}

}


.btn {
	border-radius: 10px;
}