/*nav style and body*/

body {
	font-family: 'Cairo', sans-serif;
}

nav {
	direction: rtl;
}

li {
	padding-left: 15px;
}
 
 /* End of nav style and body*/

.grid-container {
	display: grid;
	margin-top: 60px;
	grid-template-rows: auto auto ;
	grid-gap: 7px;
	justify-content: space-around;
}

.grid-container > div {
	text-align: center;
}


/* .form-group {
  
  margin: 25px 0 25px 350px;
}*/

.btn {
	text-align: center;
	padding: 0 250px 0 250px ;
	border-radius: 10px;

}

 /*Footer style */


a {
	text-decoration : none;
	color: inherit;

}

.footer-link li{
	list-style-type: none;
	padding-top: 10px;
}

.footer-link {
	margin: 50px;
}
