/*nav style and body*/

body {
	font-family: 'Cairo', sans-serif;
}

nav {
	direction: rtl;
}

li {
	padding-left: 15px;
}
 
 /* End of nav style and body*/

 .form-group {
  
  margin: 25px 0 25px 350px;
}

.btn {
	text-align: center;
	padding: 0 150px 0 150px ;
	margin-left: 100px;
}

 /*Footer style */


a {
	text-decoration : none;
	color: inherit;
}

.footer-link li{
	list-style-type: none;
	padding-top: 10px;
}

.footer-link {
	margin: 50px;
}
