.grid-container {
	display: grid;
	margin-top: 60px;
	grid-template-rows: auto auto;
	grid-gap: 7px;
	justify-content: space-around;
}

.grid-container>div {
	text-align: center;
}


/* for mobile */

#sendButton {
	padding: 5px 140px 5px 140px;
	border-radius: 10px;
}