/*nav style and body*/

body {
	font-family: 'Cairo', sans-serif;
}

nav {
	direction: rtl;
}

li {
	padding-left: 15px;
}

/* End of nav style and body*/

.card {
	width: 240px;
	text-align: center;
	margin: 30px 0 30px 30px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

#locked {
	background: url('/image/locks.svg') center no-repeat;
	background-size: 70% 70%;
}

.upgrade {
	opacity: 0.4;
}