<!doctype html>
<html lang="en">

<head>


    <title>تسجيل | سامبلز</title>
    <link rel="icon" href="/image/circleLogo.svg">
    <meta name="descripiton" content="سجل معنا وتأكد من جاهزيتك لاختبار ستيبً">
    <% include ../partails/head.ejs %>
        <link rel="stylesheet" type="text/css" href="../stylesheets/register.css">
</head>

<body class="text-center">

    <div class="container">
        <% if(error && error.length> 0) { %>
            <div class="alert alert-danger " role="alert">
                <%= error %>
            </div>
            <% } %>
                <% if(success && success.length> 0) { %>
                    <div class="alert alert-success text-center">
                        <%= success %>
                    </div>
                    <% } %>
    </div>

    <div class="grid-container">

        <h1 class="h3 mb-3 font-weight-normal">تسجيل</h1>


        <div class="form-group">
            <a href="/auth/google" id="google-button" class="google-register"><img src="../image/googleButtunPurple.svg"
                    height="50" width="240"></a>

        </div>


        <div class="form-group">
            أو

        </div>


        <form method="post" action="/register" novalidate class="validated-form" id="registerForm">
            <div class="form-group mb-3">

                <input type="email" class="form-control" placeholder="Email" name="email" required>
                <input type="text" class="form-control" placeholder="username" name="username" required>
                <input type="password" class="form-control" placeholder="Password" name="password" minlength="6"
                    maxlength="16" required>
                <input type="password" class="form-control" placeholder="Confirm Password" name="confirm" minlength="6"
                    maxlength="16" required>
                <select class="form-select" id="inlineFormCustomSelect" aria-label="Default select example"
                    name="gender" required>
                    <option selected>Gender</option>
                    <option value="male">ذكر</option>
                    <option value="female">أنثى</option>
                </select>

            </div>

            <div class="form-group mb-2">
                <button type="submit" id="signUp-button" class="btn  btn-success">تسجيل</button>

            </div>

            <div class="form-group mb-2">
                <a href="/signIn">تسجيل الدخول</a>
            </div>


            <div class="form-group">
                <p>Copyright © 2023 Samples, Inc.</p>
            </div>

        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
        </script>
    <script src="/javascripts/validationForm.js"></script>

</body>

</html>