<!doctype html>
<html lang="en">

<head>

    <title>تسجيل الدخول | سامبلز</title>
    <link rel="icon" href="/image/circleLogo.svg">
    <meta name="google-site-verification" content="h_oCGO9ZZGMihaFmSmb1K58LuJJDcHKL5chn3qqN3mk" />
    <meta name="descripiton" content="سجل الدخول وتأكد من جاهزيتك لاختبار ستيبً">
    <% include ../partails/head.ejs %>
        <link rel="stylesheet" type="text/css" href="../stylesheets/signInPage.css">
</head>

<body class="text-center">


    <div class="container">
        <% if(error && error.length> 0) { %>
            <div class="alert alert-danger " role="alert">
                <%= error %>
            </div>
            <% } %>
                <% if(success && success.length> 0) { %>
                    <div class="alert alert-success text-center">
                        <%= success %>
                    </div>
                    <% } %>
    </div>
     <div class="grid-container">
        <div class="item-1">
            <h1 class="h3 mb-3 font-weight-normal">الرجاء تسجيل الدخول</h1>
        </div>

        <div class="form-group">
            <a href="/auth/google" id="google-button"><img src="../image/googleButtunPurple.svg" height="50"
                    width="240"></a>

        </div>


        <div class="form-group">
            أو


        </div>
        <form method="post" action="/signIn" class="validated-form" novalidate id="registerForm">
            <div class="form-group mb-3">

                <input type="email" class="form-control" placeholder="Email" name="email" required>
                <input type="password" class="form-control" placeholder="Password" name="password" required>

            </div>
            <div class="form-group">

                <div class="form-check mb-3">

                    <a href="/forgot">نسيت كلمة المرور</a>
                </div>

            </div>
            <div class="form-group mb-3">

                <button type="submit" class="btn btn-primary" id="sign-button">تسجيل الدخول</button>

            </div>
            <div class="form-group mb-2">

                <a href="/register">تسجيل</a>

            </div>
            <div class="form-group">

                <p>Copyright © 2023 Samples, Inc.</p>

            </div>

        </form>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
        </script>
    <script src="/javascripts/validationForm.js"></script>
</body>

</html>