<!doctype html>
<html lang="en">

<head>
    <title>تسجيل الدخول | سامبلز</title>
    <link rel="icon" href="/image/circleLogo.png">
    <meta name="google-site-verification" content="h_oCGO9ZZGMihaFmSmb1K58LuJJDcHKL5chn3qqN3mk" />
    <meta name="descripiton" content="سجل الدخول وتأكد من جاهزيتك لاختبار ستيبً">
    <% include ../partails/head.ejs %>
    <link rel="stylesheet" type="text/css" href="../stylesheets/signInPage.css">
</head>

<body class="text-center">

    <div class="container">
        <% if(error && error.length > 0) { %>
        <div class="alert alert-danger " role="alert">
            <%= error %>
        </div>
        <% } %>
        <% if(success && success.length > 0) { %>
        <div class="alert alert-success text-center">
            <%= success %>
        </div>
        <% } %>
    </div>
     <div class="grid-container">
        <div class="item-1">
            <h1 class="h3 mb-3 font-weight-normal">الرجاء تسجيل الدخول</h1>
        </div>
        <!-- <div class="item-3">
		      			<div class="form-group">
		      				<a href="/google" id="google-button" ><img src="../image/googleButtonWhite.png" height="45" width="260"></a>

		      			</div>
		      		</div>
		      		<div class="item-3">
		      			<div class="form-group">
		      				أو

		      			</div>
		      		</div> -->
        <form method="post" action="/signIn">
            <div class="form-group">
                <div class="item-2">
                    <input type="email" class="form-control" placeholder="Email" name="email">
                    <input type="password" class="form-control" placeholder="Password" name="password">
                </div>
            </div>
            <div class="form-group">
                <div class="item-3">
                    <div class="form-check">

                        <a href="/forgot">نسيت كلمة المرور</a>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="item-4">
                    <button type="submit" class="btn btn-lg btn-primary" id="sign-button">تسجيل الدخول</button>
                </div>
            </div>
            <div class="form-group">
                <div class="item-5">
                    <a href="/register">تسجيل</a>
                </div>
            </div>
            <div class="form-group">
                <div class="item-6">
                    <p>Copyright © 2019 Samples, Inc.</p>
                </div>
            </div>

        </form>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
</body>

</html>